body {
  height: 100vh;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". h1 nav";
  width: 100%;
  align-items: center;
}

h1 {
  grid-area: h1;
  text-align: center;
}

nav {
  grid-area: nav;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;

  display: flex;
  justify-content: flex-end;

  & a {
    padding: 1rem;
  }
}

.loading {
  font-family: "Secular One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

.planet-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;

  & li {
    width: 4rem;
    height: 4rem;
    background-color: rgb(231, 166, 24);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-out;

    & a {
      width: 100%;
      height: 100%;
      display: block;
    }

    &:hover {
      /* Johan: if attr(data-scale) is ever supported it could have been used here */
      transform: scale(1.1);
    }
  }

  & .larger-scale {
    &:hover {
      transform: scale(1.4);
    }
  }
}

[data-name="Saturnus"] a::before {
  display: block;
  left: 0;
  top: 0;
  content: "";
  width: 150%;
  height: 0.5rem;
  background-color: #dbcaa8;
  border-radius: 50%;
  transform-origin: left;
  transform: translateY(70px) rotateZ(-45deg);
}

